{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'home.css' %}"/>
</head>
<body>
<div class="navbar">
    <li><a class="active" href="#">Home</a>
    <a href="#">Admin Login</a>
    <a  href="#" >Student Details</a>
        <a  href="#" >Student Results</a>
    <a class="navbar-right" href="https://www.google.co.in"><span class="glyphicon glyphicon-log-out"></span>Exit</a>
    <a class="navbar-right" href="#"><span class="glyphicon glyphicon-search"></span>Search</a>
    </li>
    <div><img style=" background-size: cover; background-position: center; background-attachment: fixed; margin-bottom: -380px; height: 700px; width: 100%;" src="{% static 'student-management-software.png' %}" alt="My image"></div>
    <div><center><h1 style="margin-bottom: 300px;">Welcome To Student Management Application</h1></center></div>
</div>
</body>
</html>